<a href="https://colab.research.google.com/github/bhanupethakamsetti/Assignmet1/blob/main/practice_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [12]:
print("Good %s,all"%"Evening")

print("Welcome %s,Good %s" %("all","Evening"))

print("Hello {}".format("welcome all"))

print("Hello {0},Good {2},Thank {1}".format("welcome all","You","Evening"))

print("Hello:{a}".format(a="welcome all"))

Good Evening,all
Welcome all,Good Evening
Hello welcome all
Hello welcome all,Good Evening,Thank You
Hello:welcome all

In [21]:
name="Bhanu"
print("My name is"+name)

n1=10
n2=12
print(f"The addition of two values is {n1+n2}")

My name isBhanu
The addition of two values is 22

In [22]:
#lambda function
x1=lambda x:x+100
print(x1(3))

103

In [23]:
z=lambda x,y,z:x+y*z
print(z(2,3,4))

14

In [27]:
print((lambda a,b,c:a+b-c)(1,2,3))

0

In [28]:
def add():
 print((lambda a,b,c:a+b-c)(1,2,3))
add()

0

In [29]:
data=[lambda x=x:x*10 for x in range(1,10)]
for data1 in data:
  print(data1())

10
20
30
40
50
60
70
80
90

In [30]:
data=[lambda x=x:x*10 for x in range (1,10)]
for data1 in data:
  print(data1())

10
20
30
40
50
60
70
80
90

In [34]:
table=[lambda x=x:2*x for x in range(1,11)]
for i in table:
  print(i())

2
4
6
8
10
12
14
16
18
20