<a href="https://colab.research.google.com/github/bhanupethakamsetti/Assignmet1/blob/main/practice_python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Good %s,all"%"Evening")

print("Welcome %s,Good %s" %("all","Evening"))

print("Hello {}".format("welcome all"))

print("Hello {0},Good {2},Thank {1}".format("welcome all","You","Evening"))

print("Hello:{a}".format(a="welcome all"))

Good Evening,all
Welcome all,Good Evening
Hello welcome all
Hello welcome all,Good Evening,Thank You
Hello:welcome all

In [ ]:
name="Bhanu"
print("My name is"+name)

n1=10
n2=12
print(f"The addition of two values is {n1+n2}")

My name isBhanu
The addition of two values is 22

In [ ]:
#lambda function
x1=lambda x:x+100
print(x1(3))

103

In [ ]:
z=lambda x,y,z:x+y*z
print(z(2,3,4))

14

In [ ]:
print((lambda a,b,c:a+b-c)(1,2,3))

0

In [ ]:
def add():
 print((lambda a,b,c:a+b-c)(1,2,3))
add()

0

In [ ]:
data=[lambda x=x:x*10 for x in range(1,10)]
for data1 in data:
  print(data1())

10
20
30
40
50
60
70
80
90

In [ ]:
data=[lambda x=x:x*10 for x in range (1,10)]
for data1 in data:
  print(data1())

10
20
30
40
50
60
70
80
90

In [ ]:
table=[lambda x=x:2*x for x in range(1,11)]
for i in table:
  print(i())

2
4
6
8
10
12
14
16
18
20

In [ ]:
mylist=[2,1,12,24,23,45,56,78]
print(mylist)

[2, 1, 12, 24, 23, 45, 56, 78]

In [ ]:
evenlist=[]
for x in mylist:
  if x%2!=0:
    evenlist.append(x)
print(evenlist)

[1, 23, 45]

In [ ]:
oddlist=[]
for x in mylist:
  if x%3==0:
    oddlist.append(x)
print(oddlist)

[12, 24, 45, 78]

In [ ]:
mylist=[2,1,12,24,23,45,56,78]
mydic={}
for y in mylist:
  mydic[y]=y**2

print(mydic)

{2: 4, 1: 1, 12: 144, 24: 576, 23: 529, 45: 2025, 56: 3136, 78: 6084}

In [ ]:
mydic={y:y**2 for y in mylist}
print(mydic)

{2: 4, 1: 1, 12: 144, 24: 576, 23: 529, 45: 2025, 56: 3136, 78: 6084}

In [ ]:
even_set=set()
for z in range(40):
  if z%2==0:
    even_set.add(z)
print(even_set)

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38}

In [ ]:
s=set(i for i in range(50) if i%2==0)
print(s)

{0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48}

In [ ]:
try:
  print("Bhanu")
  print(asc)
except:
  print("Error occured")

Bhanu
Error occured

In [ ]:
mylist=[1,2,33,45,69,56]
try:
  print(mylist[14])
  print(mylist[4])
except:
  print("Partially work done")

Partially work done

In [ ]:
try:
  x=open("a.txt","r")
  print(x.read())
except:
  print("File not found")
finally:
  print("Thanku")

Hello all
Thanku

In [ ]:
import re
data=("Hello all this is bhanu")
print(data)
a=re.search("this is",data)
print(a)
print("start the value of index",a.start())
print("end of the index value",a.end())

Hello all this is bhanu
<re.Match object; span=(10, 17), match='this is'>
start the value of index 10
end of the index value 17

In [ ]:
import math
print(math.sin(0.5))
print(math.cos(0))
print(math.pi)

0.479425538604203
1.0
3.141592653589793

In [ ]:
import datetime
print(datetime.datetime.now())

2024-08-24 12:25:31.245699

In [ ]:
import module
module.a("Bhanu","Good night")

Good night Bhanu

In [ ]:
def calc():
  print("\n*****CALCULATOR*****\n")
  num1=int(input("Enter the first number:"))
  num2=int(input("Enter the second number:"))
  file=open("result.txt","a")
  print("\n SYMBOLS : OPERATIONS \n\n + :SUM\n - :SUBRACTION\n * :MULTPLICATION\n / :DIVISION\n")
  choice=input("\nEnter the symbol(+,-,*,/):")
  if (choice=="+"):
    print("\nThe sum of two numbers is:", num1+num2)
    file.write(f"\nThe sum of two numbers is: {num1+num2}")
    print("\nData is recorded sucessfully")
  elif(choice=="-"):
    print("\nThe subraction of two numbers is:", num1-num2)
    file.write(f"\nThe subraction of two numbers is: {num1-num2}")
    print("\nData is recorded sucessfully")
  elif(choice=="*"):
    print("\nThe multplication of two numbers is:", num1*num2)
    file.write(f"\nThe multplication of two numbers is: {num1*num2}")
    print("\nData is recorded sucessfully")
  elif(choice=="/"):
    print("\nThe Division of two numbers is:", num1/num2)
    file.write(f"\nThe Division of two numbers is: {num1/num2}")
    print("\nData is recorded sucessfully")
  else:
    print("Enter valid symbol")

calc()

*****CALCULATOR*****

Enter the first number:12
Enter the second number:24

 SYMBOLS : OPERATIONS

 + :SUM
 - :SUBRACTION
 * :MULTPLICATION
 / :DIVISION


Enter the symbol(+,-,*,/):+

The sum of two numbers is: 36

Data is recorded sucessfully

In [2]:
#oops concept

class laptop():
  processor="intelI5"
  Display="Full HD"

obj1=laptop()
obj2=laptop()
print(obj1.processor)
print(obj2.Display)

intelI5
Full HD

In [3]:
class account():
  def __init__(self,username,password):
    self.username=username
    self.password=password

In [4]:
a=account("Admin","Pass")
print(a.username)
print(a.password)

Admin
Pass